In [19]:
import tomli

# Read the config file
with open("..\\.streamlit\\secrets.toml", mode="rb") as fp:
	config = tomli.load(fp)
	
from supabase import create_client, Client

def init_connection():
    url = config["supabase_url"]
    key = config["supabase_key"]
    return create_client(url, key)

supabase = init_connection()

In [20]:
user_config = config['Denver']

In [9]:
# supabase.create_table("wine", schema="id SERIAL PRIMARY KEY, name TEXT, year INTEGER, grapes TEXT, country TEXT, region TEXT, description TEXT, picture BYTEA")
user = supabase.auth.sign_up(email=user_config['email'], password=user_config['password'])
# user = supabase.auth.sign_in(email=email, password=password)

In [22]:
user = supabase.auth.sign_in(email=user_config['email'], password=user_config['password'])

In [28]:
supabase.table('wines').insert([{ 'name': 'Chardonnay', 'color': 'white' }, { 'name': 'Pinot Noir', 'color': 'red'}]).execute()

APIResponse(data=[{'id': 5, 'created_at': '2023-01-12T15:17:44.978228+00:00', 'name': 'Chardonnay', 'color': 'white'}, {'id': 6, 'created_at': '2023-01-12T15:17:44.978228+00:00', 'name': 'Pinot Noir', 'color': 'red'}], count=None)

In [31]:
import pandas as pd
pd.DataFrame(
	supabase.table("wines").select("*").execute().data
)

   id                        created_at        name  color
0   5  2023-01-12T15:17:44.978228+00:00  Chardonnay  white
1   6  2023-01-12T15:17:44.978228+00:00  Pinot Noir    red

In [ ]:
user.

In [14]:
user.email

'denvernoell@gmail.com'

In [15]:
user.aud

'authenticated'